@mixin tablet {
    @media screen and ( min-width: 768px ) {
        @content;
    }
}

@mixin mobile {
    @media screen and ( max-width: 767px ) {
        @content;
    }
}

@mixin desktop {
    @media screen and ( min-width: 1025px ) {
        @content;
    }
}

$blue: #1956FF;
$pink: #ff2357;
$blue-to-pink: linear-gradient(to right, $blue, $pink);
$black3: #333;
$white: #FFF;
$grayF9: #F9F9F9;
$grayE1: #e1e1e1;
$gray5: #555;
$gray6: #666;
$gray8: #888;
$orange: #ffe0e0;
$orange-dark: #fd5d39;

@mixin title-font {
    font-family: 'Lobster', cursive;
}

@mixin body-font {
    font-family: 'Lato', sans-serif;
}

@mixin logo {
    transform: rotate(-5deg);
    stroke: 2px $white;
    text-shadow: -5px -1px 0 $white, 5px -1px 0 $white, -5px 1px 0 $white, 5px 1px 0 $white;
}

@mixin logo-before-after {
    width: 150px;
    height: 1px;
    background-color: $black3;
    content: "";
    display: block;
    margin-left: calc( 50% - 150px/2 );
    position: relative;
    z-index: -1;
}

@mixin button {
    border-radius: 5px;
    color: $blue;
    background-color: $white;
    border: 1px solid $blue;
    cursor: pointer;
    transition: color .3s, background-color .3s, border .3s;
    text-transform: uppercase;

    &:hover {
        color: $white;
        background-color: $blue;
    }

    &:disabled {
        background-color: $gray8;
        color: $white;
        border: 1px solid $gray8;
    }
}

@mixin select {
    position: relative;

    &__arrow {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 0;
    }

    &__select {
        appearance: none;
        background-color: transparent;
        border-width: 2px;
        border-image-slice: 1;
        border-image-source: $blue-to-pink;
        font-size: 16px;
        font-weight: 600;
        padding-left: 15px;
        cursor: pointer;
        height: 34px;
        margin-bottom: .75rem;
        width: 100%;
        user-select: none;
        z-index: 3;
        -ms-user-select: none;
        -moz-user-select: none;
        -moz-appearance: none;
        -webkit-user-select: none;
        -webkit-appearance: none;
    }
}